.form_feedback {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input_name {
  width: 50%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
}
.input_number {
  width: 50%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
}

.button {
  width: 15%;
  height: 40px;
  border: 0;
  border-radius: 4px;
  background: #333;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}

.input_form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  width: 40%;
}

.container_render {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;

  padding: 20px;
  width: 40%;
}

.input_filter {
  width: 50%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
}

.button_delete {
  height: 40px;
  border: 0;
  border-radius: 4px;
  background: #333;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-left: 20px;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.item {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: row;
  margin-top: 20px;
}
